{% extends "base.html" %}
{% block title %}
    Lincut - CONTACT
{% endblock %}
{% block content %}
<div class="container bg-light rounded-2 p-3" style="min-height: 90vh;">
    <h1>Contact Us</h1>
    <div class="row">
        <div class="col-lg-6">
            <div class="card mb-4">
              <div class="card-body text-center">
                <img src="https://scontent-prg1-1.xx.fbcdn.net/v/t39.30808-6/345460195_963058151366665_7007981952133437568_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=-ZkAvfT98rUAX99kDTr&_nc_ht=scontent-prg1-1.xx&oh=00_AfBeNezbdPiN1mI6fHAzCdDXVtTUxRbe4bTdox-baH33PA&oe=647525FC" alt="SzymonAvatar"
                  class="rounded-circle img-fluid" style="width: 150px;">
                <h5 class="my-3">Szymon Śliwa</h5>
                <p class="text-muted mb-1">.Net & Angular Full Stack Developer</p>
                <p class="text-muted mb-4">Kętrzyn, Polska</p>
                <div class="d-flex justify-content-center mb-2">
                  <h2>155471@student.uwm.edu.pl</h2>
                </div>
              </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card mb-4">
              <div class="card-body text-center">
                <img src="https://scontent-prg1-1.xx.fbcdn.net/v/t1.6435-9/82217852_2525701851035188_2271799191460118528_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=174925&_nc_ohc=msQTkzpAXZQAX8N0Mhh&_nc_ht=scontent-prg1-1.xx&oh=00_AfBG37h-1BjAkZuq0DGAg_coLLR_M5OsDyngrIo9l39fHA&oe=6496D92E" alt="avatar"
                  class="rounded-circle img-fluid" style="width: 150px;">
                <h5 class="my-3">Piotr Martyniuk</h5>
                <p class="text-muted mb-1">DevOps</p>
                <p class="text-muted mb-4">Mrągowo, Polska</p>
                <div class="d-flex justify-content-center mb-2">
                    <h2>155599@student.uwm.edu.pl</h2>
                </div>
              </div>
            </div>
        </div> 
    </div>
</div>
{% endblock %}